# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
.env.example
.env.local
.env.test
.env.production

# IDE
.vscode/
.idea/

# Temp files
*.tmp
*.temp

# Uploads
uploads/

# Logs
*.log
